<div class="grid-row grid-gap">
  <div class="grid-col-3">
    <div class="box">
      <%= @grantee.name %>
      <ul class="usa-list usa-list--unstyled">
        <% @grantee.grants.each do |grant| %>
          <li><%= grant.number %></li>
        <% end %>
      </ul>
    </div>
    <div class="box">
      <h4>Grantee staff</h4>
      <%= render partial: "person", collection: @grantee.employees %>
    </div>
    <div class="box">
      <h4>OHS - Regional TTA</h4>
      <%= render partial: "person", collection: @grantee.assigned_specialists %>
      <%= render partial: "person", collection: @grantee.report_specialists %>
    </div>
  </div>
  <div class="grid-col-9">
    <div class="box">
      <%= form_tag grantee_path(id: @grantee.id), method: :get, class: "usa-search usa-search--small" do %>
        <%= label_tag :date, "Activity Date", class: "usa-label" %>
        <%= select_tag :date, options_for_select(date_options, @date), class: "usa-select" %>
        <%= label_tag :topic, "Topic", class: "usa-label" %>
        <%= select_tag :topic, options_for_select(topic_options(@grantee), @topic), class: "usa-select" %>
        <div role="search" style="margin-top: 1.5rem">
          <%= label_tag :q, "Search", class: "usa-sr-only" %>
          <%= search_field_tag :q, @query, class: "usa-input" %>
          <%= button_tag name: nil, class: "usa-button" do %>
            <span class="usa-sr-only">Search</span>
          <% end %>
        </div>
      <% end %>
    </div>

    <% @monitoring_reports.each do |mr| %>
      <div class="box">
        <div class="grid-row">
          <div class="grid-col">
            <p><strong><%= mr.report_date.to_s(:long) %></strong></p>
            <p>Citation: <%= mr.formatted_citation %></p>
            <p>Type: <%= mr.status %></p>
            <p>Notes: <%= mr.narrative.truncate(100) %></p>
            <p><%= link_to "View Report", mr, class: "usa-button", data: {turbolinks: false} %></p>
          </div>
        </div>
      </div>
    <% end %>

    <p><%= page_entries_info @activity_reports %></p>
    <% @activity_reports.each do |ar| %>
      <div class="box box--split">
        <div class="grid-row">
          <div class="grid-col grid-col-8">
            <p><strong><%= ar.start_date.to_s(:long) %></strong> <%= ar.duration %> hours</p>
            <p>Purpose: <%= ar.purpose %></p>
            <p>Topics: <%= ar.topic_list.join ", " %></p>
            <p>Specialists: <%= ar.people.map(&:name).join ", " %></p>
            <p><%= link_to "View Report", ar, class: "usa-button" %></p>
          </div>
          <div class="grid-col grid-col-4">
            <%= past_activity_timeline_list(ar) %>
          </div>
        </div>
      </div>
    <% end %>
    <%= paginate @activity_reports %>
  </div>
</div>
