<div class="grid-row grid-gap">
  <div class="grid-col-3">
    <div class="box box--vertically-padded">
      <%= @grantee.name %>
      <ul class="usa-list usa-list--unstyled">
        <% @grantee.grants.each do |grant| %>
          <li><%= grant.number %></li>
        <% end %>
      </ul>
    </div>
    <div class="box">
      <h4>Grantee staff</h4>
      <%= render partial: "person", collection: @grantee.employees %>
    </div>
    <div class="box">
      <h4>OHS - Regional TTA</h4>
      <%= render partial: "person", collection: @grantee.assigned_specialists %>
      <%= render partial: "person", collection: @grantee.report_specialists %>
    </div>
    <% if policy(:tta_request).create? %>
      <%= link_to "Request TTA", new_grantee_tta_need_path(grantee_id: @grantee.id), class: "usa-button" %>
    <% end %>
    <% if policy(:tta_plan).create? %>
      <%= link_to "Add TTA Goals", new_grantee_tta_plan_path(grantee_id: @grantee.id), class: "usa-button" %>
    <% end %>
  </div>
  <div class="grid-col-9" id="main-content">
    <div class="box box--vertically-padded">
      <%= form_tag grantee_path(id: @grantee.id), method: :get, class: "usa-search usa-search--small" do %>
        <%= label_tag :date, "Activity Date", class: "usa-label" %>
        <%= select_tag :date, options_for_select(date_options, @date), class: "usa-select" %>
        <%= label_tag :topic, "Topic", class: "usa-label" %>
        <%= select_tag :topic, options_for_select(topic_options(@grantee), @topic), class: "usa-select" %>
        <div role="search" style="margin-top: 1.5rem">
          <%= label_tag :q, "Search", class: "usa-sr-only" %>
          <%= search_field_tag :q, @query, class: "usa-input" %>
          <%= button_tag name: nil, class: "usa-button" do %>
            <span class="usa-sr-only">Search</span>
          <% end %>
        </div>
      <% end %>
    </div>

    <% @grantee.reviews.each do |review| %>
      <div class="usa-accordion">
        <h1 class="usa-accordion__heading">
          <button class="usa-accordion__button" aria-expanded="false" aria-controls="r-<%= review.id %>">
            <%= review.name %> / <%= review.review_type %> / <%= review.full_status %>
          </button>
        </h1>
        <div id="r-<%= review.id %>" class="usa-accordion__content box box--vertically-padded box--split">
          <div class="grid-row">
            <div class="grid-col grid-col-8">
              <% review.finding_grants.sort_by(&:reported_date).each do |fg| %>
                <p><%= fg.finding_type %> / <%= fg.status_name %></p>
                <% fg.standards.each do |s| %>
                  <p><%= s.citation %></p>
                  <p><%= s.text %></p>
                <% end %>
                <div class="usa-accordion">
                  <% fg.finding_histories.sort_by(&:ordinal).each do |fh| %>
                    <h2 class="usa-accordion__heading">
                      <button class="usa-accordion__button" aria-expanded="false" aria-controls="f-<%= fh.id %>">
                        <%= fh.determination %> / <%= fh.status_name %>
                      </button>
                    </h2>
                    <div id="f-<%= fh.id %>" class="usa-accordion__content usa-prose">
                      <p><%= fh.narrative %></p>
                    </div>
                  <% end %>
                </div>
              <% end %>
            </div>
            <div class="grid-col grid-col-4">
              <p><%= review.start_date.to_date.to_s(:long) %> - <%= review.end_date.to_date.to_s(:long) %></p>
              <p><%= review.full_status %></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <% @monitoring_reports.each do |mr| %>
      <div class="box">
        <div class="grid-row">
          <div class="grid-col">
            <p><strong><%= mr.report_date.to_s(:long) %></strong></p>
            <p>Citation: <%= mr.formatted_citation %></p>
            <p>Type: <%= mr.status %></p>
            <p>Notes: <%= mr.narrative.truncate(100) %></p>
            <p>
              <%= link_to mr, class: "usa-button" do %>
                View <span class="visually-hidden">Monitoring</span> Report <span class="visually-hidden">from <%= mr.report_date.to_s(:long) %></span>
              <% end %>
            </p>
            <% if recent_tta_request? %>
              <p><%= link_to "Track Requested TTA", tta_needs_tracker_path, class: "usa-button" %></p>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>

    <p><%= page_entries_info @activity_reports %></p>
    <% @activity_reports.each do |ar| %>
      <div class="box box--split">
        <div class="grid-row">
          <div class="grid-col grid-col-8">
            <p><strong><%= ar.start_date.to_s(:long) %></strong> <%= ar.duration %> hours</p>
            <p>Topics: <%= ar.topic_list.join ", " %></p>
            <p>Specialists: <%= ar.people.map(&:name).join ", " %></p>
            <p>
              <%= link_to ar, class: "usa-button" do %>
                View <span class="visually-hidden">Activity</span> Report <span class="visually-hidden">from <%= ar.start_date.to_s(:long) %></span>
              <% end %>
            </p>
          </div>
          <div class="grid-col grid-col-4">
            <%= past_activity_timeline_list(ar) %>
          </div>
        </div>
      </div>
    <% end %>
    <%= paginate @activity_reports %>
  </div>
</div>
