<h1>Central Office Dashboard</h1>

<div class="grid-row grid-gap">
  <div class="grid-col-3">
    <div class="box">
      <%= render "filters" %>
    </div>
  </div>

  <div class="grid-col-9">
    <h2>TTA Need Requests</h2>
    <%= column_chart @dashboard.deployments_by_month, height: "100px" %>

    <table class="usa-table">
      <thead>
        <tr>
          <th scope="col">Request ID</th>
          <th scope="col">Grantee</th>
          <th scope="col">Region</th>
          <th scope="col">Requested On</th>
          <th scope="col">Specialists</th>
          <th scope="col">Details</th>
        </tr>
      </thead>
      <tbody>
        <% @dashboard.request_sheet.each do |row| %>
          <tr>
            <th scope="row"><%= row.request_id %></th>
            <td><%= link_to_grantee row.grantee %></td>
            <td><%= row.region %></td>
            <td><%= Time.parse(row.created).in_time_zone("America/New_York").strftime("%B %d, %Y %l:%M %p") %></td>
            <td><%= @dashboard.assignment_sheet.find_request_id(row.request_id).assigned_tta_specialists %></td>
            <td>&nbsp;</td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <h2>Specialists</h2>
    <div class="grid-row">
      <div class="grid-col-10">
        <h2>Upcoming Activities</h2>
        <ul>
          <% @dashboard.plan_sheet.each_upcoming_activity do |row| %>
            <li><%= row.request_id %> - <%= Date.parse(row.start_date).to_s(:long) %> - <%= row.created_by %> @ <%= link_to_grantee row.grantee %></li>
          <% end %>
        </ul>
      </div>
      <div class="grid-col-2">
        <%= pie_chart @dashboard.assigned_specialists_counts, height: "100%" %>
      </div>
    </div>

    <h2>Most Recent TTA Activities</h2>
    <table class="usa-table">
      <thead>
        <tr>
          <th scope="col">Request ID</th>
          <th scope="col">Grantee</th>
          <th scope="col">Specialist</th>
          <th scope="col">Dates</th>
          <th scope="col">Duration</th>
          <th scope="col">Objectives</th>
          <th scope="col">Description</th>
        </tr>
      </thead>
      <tbody>
        <% @dashboard.report_sheet.most_recent_activities.each do |row| %>
          <tr>
            <th scope="row"><%= row.request_id %></th>
            <td><%= link_to_grantee row.grantee %></td>
            <td><%= row.created_by %></td>
            <td><%= row.start_date %> - <%= row.end_date %></td>
            <td><%= row.duration %></td>
            <td><%= sanitize row.objectives.gsub("\n", "<br>") %></td>
            <td><%= row.description %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
