<%= form_tag login_path, class: "usa-form" do %>
  <%= label_tag :person_id, "Login as", class: "usa-label" %>
  <%= select_tag :person_id, options_from_collection_for_select(@people, "id", "name_and_role"), include_blank: true, class: "usa-select" %>
  <h5>--- Or, create a new User ---</h5>
  <%= label_tag :name, nil, class: "usa-label" %>
  <%= text_field_tag :name, "", class: "usa-input" %>
  <%= button_tag "Login", class: "usa-button" %>
<% end %>
