<% if @activity_report.linked? %>
  <div class="grid-row">
    <div class="grid-col">
      <h3>Activity Timeline</h3>
      <p>
        <% if @activity_report.previous_activity_report.present? %>
          <%= link_to "#{@activity_report.previous_activity_report.start_date.to_s(:long)} #{@activity_report.previous_activity_report.purpose}", @activity_report.previous_activity_report, class: "usa-link" %>
          &bullet;
        <% end %>
        This report
        <% @activity_report.follow_up_reports.each do |report| %>
          &bullet;
          <%= link_to "#{report.start_date.to_s(:long)} #{report.purpose}", report, class: "usa-link" %>
        <% end %>
      </p>
    </div>
  </div>
<% end %>

<div class="box">
  <div class="grid-row">
    <div class="grid-col">
      <h3>Activity Summary</h3>
      <ul class="usa-list usa-list--unstyled">
        <li><%= @activity_report.start_date.to_s(:long) %> <%= @activity_report.duration %> hours</li>
        <li><%= @activity_report.purpose %></li>
        <li>
          <ul class="usa-list usa-list--unstyled">
            <% @activity_report.topics.each do |t| %>
              <li><%= t.name %></li>
            <% end %>
          </ul>
        </li>
        <li><%= @activity_report.people.map(&:name).join ", " %></li>
        <li>
          <ul class="usa-list usa-list--unstyled">
            <% @activity_report.grantees.distinct.each do |g| %>
              <li><%= link_to g.name, g, class: "usa-link" %></li>
            <% end %>
          </ul>
        </li>
      </ul>
    </div>
    <% if @activity_report.previous_activity_report.present? %>
      <div class="grid-col">
        <h3>Next Steps from Past Activity</h3>
        <%= pretend_we_have_proper_next_steps_fields @activity_report.previous_activity_report.next_steps %>
      </div>
    <% end %>
  </div>
</div>

<div class="font-body-md measure-2">
  <h2>Next Steps</h2>
  <%= pretend_we_have_proper_next_steps_fields @activity_report.next_steps %>

  <h2>Notes on This Contact</h2>
  <%= pretend_we_have_proper_narrative_fields @activity_report.narrative %>
</div>
