<% if @activity_report.linked? %>
  <div class="grid-row">
    <div class="grid-col">
      <h3>Activity Timeline</h3>
      <p>
        <% @activity_report.tta_need_reports.each do |ar| %>
          <% if @activity_report.id == ar.id %>
            This report
          <% else %>
            <%= link_to "#{ar.start_date.to_s(:long)} #{ar.contact_method} Report", ar, class: "usa-link" %>
          <% end %>
          &bullet;
        <% end %>
      </p>
    </div>
  </div>
<% end %>

<div class="box">
  <div class="grid-row">
    <div class="grid-col">
      <h3>Activity Summary</h3>
      <ul class="usa-list usa-list--unstyled">
        <li><%= @activity_report.start_date.to_s(:long) %> <%= @activity_report.duration %> hours</li>
        <li>
          <ul class="usa-list usa-list--unstyled">
            <% @activity_report.topics.each do |t| %>
              <li><%= t.name %></li>
            <% end %>
          </ul>
        </li>
        <li><%= @activity_report.people.map(&:name).join ", " %></li>
        <li>
          <ul class="usa-list usa-list--unstyled">
            <% @activity_report.grantees.distinct.each do |g| %>
              <li><%= link_to g.name, g, class: "usa-link" %></li>
            <% end %>
          </ul>
        </li>
      </ul>
    </div>
    <% if @activity_report.linked? %>
      <div class="grid-col">
        <h3>Next Steps from Past Activity</h3>
        <p>TODO</p>
      </div>
    <% end %>
  </div>
</div>

<div class="font-body-md measure-2">
  <h2>Next Steps</h2>
  <p>TODO</p>

  <h2>Notes on This Contact</h2>
  <p>TODO</p>
</div>
