<h1>TTA Need Details</h1>

<dl>
  <dt>Grantee</dt>
  <dd><%= link_to @tta_need.grantee_name, @tta_need.grantee, class: "usa-link" %></dd>
  <dt>Requested On</dt>
  <dd><%= @tta_need.created_at.in_time_zone("America/New_York").strftime("%B %-d, %Y %l:%M%P") %></dd>
  <dt>Start Date</dt>
  <dd><%= @tta_need.start_date&.strftime("%B %-d, %Y") %></dd>
  <dt>Specialists Requested</dt>
  <dd><%= @tta_need.specialist_types_needed.join(", ") %></dd>
  <dt>TTA Areas</dt>
  <dd><%= @tta_need.topic_list %></dd>
  <dt>Indicator of Need</dt>
  <dd><%= @tta_need.indicator %></dd>
  <dt>Monitoring Report</dt>
  <dd><%= link_to @tta_need.context_link.formatted_citation, @tta_need.context_link, class: "usa-link" %></dd>
</dl>

<h2>Description of TTA Requested</h2>
<div class="font-body-md measure-2">
  <%= Kramdown::Document.new(@tta_need.narrative).to_html.html_safe %>
</div>

<h2>Objectives</h2>
<div class="box">
  <ul class="usa-list">
    <% @tta_need.tasks.find_each do |task| %>
      <li><%= task.title %></li>
    <% end %>
  </ul>
</div>
