<!DOCTYPE html>
<html>
  <head>
    <title>HeadStartTta</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all" %>
    <%= stylesheet_pack_tag "application", media: "all" %>
    <%= javascript_pack_tag "application" %>
  </head>

  <body>
    <a class="usa-skipnav" href="#main-content">Skip to main content</a>
    <section class="usa-banner" aria-label="Official government website">
      <div class="usa-accordion">
        <header class="usa-banner__header">
          <div class="usa-banner__inner">
            <div class="grid-col-auto">
              <%= image_pack_tag "media/img/us_flag_small.png", alt: "U.S. flag", class: "usa-banner__header-flag" %>
            </div>
            <div class="grid-col-fill tablet:grid-col-auto">
              <p class="usa-banner__header-text">BETA. DO NOT ENTER PII. An official website of the United States government</p>
              <p class="usa-banner__header-action" aria-hidden="true">Here’s how you know</p>
            </div>
            <button class="usa-accordion__button usa-banner__button"
              aria-expanded="false" aria-controls="gov-banner">
              <span class="usa-banner__button-text">Here’s how you know</span>
            </button>
          </div>
        </header>
        <div class="usa-banner__content usa-accordion__content" id="gov-banner">
          <div class="grid-row grid-gap-lg">
            <div class="usa-banner__guidance tablet:grid-col-6">
              <%= image_pack_tag "media/img/icon-dot-gov.svg", alt: "Dot gov", class: "usa-banner__icon usa-media-block__img" %>
              <div class="usa-media-block__body">
                <p>
                  <strong>The .gov means it’s official.</strong>
                  <br>
                  Federal government websites often end in .gov or .mil. Before sharing sensitive information, make sure you’re on a federal government site.
                </p>
              </div>
            </div>
            <div class="usa-banner__guidance tablet:grid-col-6">
              <%= image_pack_tag "media/img/icon-https.svg", alt: "Https", class: "usa-banner__icon usa-media-block__img" %>
              <div class="usa-media-block__body">
                <p>
                  <strong>The site is secure.</strong>
                  <br>
                  The <strong>https://</strong> ensures that any information you provide is encrypted and transmitted securely.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="usa-overlay"></div>
    <header class="usa-header usa-header--extended">
      <div class="usa-navbar">
        <div class="usa-logo" id="extended-logo">
          <em class="usa-logo__text">
            <%= link_to "TTA Data Platform", root_path, title: "Home", "aria-label": "Home" %>
          </em>
        </div>
        <button class="usa-menu-btn">Menu</button>
      </div>
      <nav role="navigation" class="usa-nav">
        <div class="usa-nav__inner">
          <button class="usa-nav__close">
            <%= image_pack_tag "media/img/close.svg", alt: "close" %>
          </button>
          <div class="usa-nav__secondary">
            <ul class="usa-nav__secondary-links">
              <% if user_signed_in? %>
                <li class="usa-nav__secondary-item"><i class="fas fa-user"></i> <%= current_user.name_and_role %></li>
                <li class="usa-nav__secondary-item"><%= link_to "Logout", logout_path %></li>
              <% else %>
                <li class="usa-nav__secondary-item"><%= link_to "Login", login_path %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main id="main-content">
      <div class="grid-container">
        <% if flash[:error].present? %>
          <div class="grid-row">
            <div class="grid-col">
              <div class="usa-alert usa-alert--error" role="alert">
                <div class="usa-alert__body">
                  <h3 class="usa-alert__heading">Error</h3>
                  <p class="usa-alert__text"><%= flash[:error] %></p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <% if flash[:alert].present? %>
          <div class="grid-row">
            <div class="grid-col">
              <div class="usa-alert usa-alert--warning">
                <div class="usa-alert__body">
                  <h3 class="usa-alert__heading">Warning</h3>
                  <p class="usa-alert__text"><%= flash[:alert] %></p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <% if flash[:notice].present? %>
          <div class="grid-row">
            <div class="grid-col">
              <div class="usa-alert usa-alert--info">
                <div class="usa-alert__body">
                  <h3 class="usa-alert__heading">Notice</h3>
                  <p class="usa-alert__text"><%= flash[:notice] %></p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <% if flash[:success].present? %>
          <div class="grid-row">
            <div class="grid-col">
              <div class="usa-alert usa-alert--success">
                <div class="usa-alert__body">
                  <h3 class="usa-alert__heading">Success</h3>
                  <p class="usa-alert__text"><%= flash[:success] %></p>
                </div>
              </div>
            </div>
          </div>
        <% end %>

        <div class="grid-row">
          <div class="grid-col">
            <%= yield %>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
