<!DOCTYPE html>
<html>
  <head>
    <title>HeadStartTta</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <a class="usa-skipnav" href="#main-content">Skip to main content</a>
    <div class="usa-overlay"></div>
    <header class="usa-header usa-header--extended" role="banner">
      <div class="usa-navbar">
        <div class="usa-logo" id="extended-logo">
          <em class="usa-logo__text">
            <%= link_to "TTA Data Platform", root_path, title: "Home", "aria-label": "Home" %>
          </em>
        </div>
        <button class="usa-menu-btn">Menu</button>
      </div>
      <nav role="navigation" class="usa-nav">
        <div class="usa-nav__inner">
          <button class="usa-nav__close">
            <%= image_pack_tag "media/img/close.svg", alt: "close" %>
          </button>
          <div class="usa-nav__secondary">
            <ul class="usa-nav__secondary-links">
              <% if user_signed_in? %>
                <li class="usa-nav__secondary-item"><i class="fas fa-user"></i> <%= current_user.name %></li>
                <li class="usa-nav__secondary-item"><%= link_to "Logout", logout_path %></li>
              <% else %>
                <li class="usa-nav__secondary-item"><%= link_to "Login", login_path %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main id="main-content">
      <div class="grid-container">
        <% if flash[:error].present? %>
          <div class="grid-row">
            <div class="grid-col">
              <div class="usa-alert usa-alert--error" role="alert">
                <div class="usa-alert__body">
                  <h3 class="usa-alert__heading">Error</h3>
                  <p class="usa-alert__text"><%= flash[:error] %></p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <% if flash[:alert].present? %>
          <div class="grid-row">
            <div class="grid-col">
              <div class="usa-alert usa-alert--warning">
                <div class="usa-alert__body">
                  <h3 class="usa-alert__heading">Warning</h3>
                  <p class="usa-alert__text"><%= flash[:alert] %></p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <% if flash[:notice].present? %>
          <div class="grid-row">
            <div class="grid-col">
              <div class="usa-alert usa-alert--info">
                <div class="usa-alert__body">
                  <h3 class="usa-alert__heading">Notice</h3>
                  <p class="usa-alert__text"><%= flash[:notice] %></p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <% if flash[:success].present? %>
          <div class="grid-row">
            <div class="grid-col">
              <div class="usa-alert usa-alert--success">
                <div class="usa-alert__body">
                  <h3 class="usa-alert__heading">Success</h3>
                  <p class="usa-alert__text"><%= flash[:success] %></p>
                </div>
              </div>
            </div>
          </div>
        <% end %>

        <div class="grid-row">
          <div class="grid-col">
            <%= yield %>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
